@import "tailwindcss";

/* Default Light Mode */
html, body {
  background-color: #fff;
  color: #1a202c;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
html.dark, body.dark {
  background-color: #141414;
  color: white;
}
